.klient {
    background: #222222;
    width: 100%;
    margin: 0 auto;
    padding: 10px 15px 0px 15px;

    &-nav {
        p {
            margin-top: 30px;
            font-family: RussoOne-Regular;
            font-size: 36px;
            line-height: 43px;
            padding-bottom: 47px;
            text-align: center;
            color: #F1F1F1;
        }

    }
}