.rabota {
    background-color: #222222;
    margin: 0 auto;
    padding: 10px 15px 0px 15px;
    width: 100%;

    &-nav {
        h1 {
            padding-top: 27px;
            padding-bottom: 27px;
            font-family: RussoOne-Regular;
            font-size: 36px;
            line-height: 43px;
            text-align: center;
            color: #F1F1F1;
        }

        &-menu {
            display: flex;
            text-align: center;
            justify-content: space-around;
            padding-bottom: 30px;

            .p1 {
                font-family: RussoOne-Regular;
                font-size: 24px;
                line-height: 29px;
                color: #2194FF;
            }

            .p2 {
                font-family: OpenSans-Light;
                font-size: 16px;
                line-height: 22px;
                color: #F1F1F1;

            }
        }

        &-footer {
            display: flex;

            button {
                width: 533px;
                height: 35px;
                background: #2194FF;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                margin-bottom: 61px;

                p {
                    font-family: OpenSans-Bold;
                    font-size: 14px;
                    line-height: 19px;
                    color: #F1F1F1;
                }
            }

            button:hover {
                background-color: #F1F1F1;

                p {
                    color: #222222;
                }
                transition: 0.5s;
            }

            h4 {
                font-family: RussoOne-Regular;
                font-size: 35px;
                line-height: 42px;
                color: #F1F1F1;
                padding-bottom: 24px;

                del {
                    color: #2194FF;
                }

            }
        }
    }
}


@media (max-width:1213px) {
    .rabota {
        &-nav-footer {
            img {
                display: none;
            }

            h4 {
                width: 533px;
                align-items: center;
                text-align: center;
            }

            div {
                margin: 0 auto;
                margin-left: -0px;
            }

        }
    }
}

@media (max-width:1050px) {
    .rabota {
        &-nav-menu {
            .li-1 {
                display: none;

            }


        }
    }
}

@media (max-width:597px) {
    .rabota {
        &-nav-menu {
            .li-2 {
                display: none;
            }
        }

        &-nav-footer {
            h4 {
                font-size: 25px;

            }
        }

    }

}

@media (max-width:568px) {
    .rabota {
        &-nav-footer {
            h4 {
                width: 400px;
                font-size: 18px;
                line-height: 22px;

            }

            button {
                display: none;
            }
        }

    }

}

@media (max-width:432px) {
    .rabota {
        &-nav-footer {
            h4 {
                width: 300px;
                font-size: 15px;
                line-height: 12px;

            }
        }
    }
}